.profile svg {
    color: #EB8FCC;
}

.profile {
    padding-top: 50px;
    font-family: "Roboto";
}

.profile .list-group-item {
    border: none;
}

.profile .list-group-item.green-text{
    color: #C0EB8F;
}

.profile .form-control.green-text{
    color: #C0EB8F;
}

.user-specific-account {
    padding-top: 20px;
    padding-bottom: 20px;
}

.favorite-songs {
    padding-top: 20px;
    padding-bottom: 20px;
}

.green-text {
    color: #C0EB8F;
}

.edit-profile-button {
    background-color: #C0EB8F!important;
}

.profile .list-group-item {
    background-color: #333333;
}

.account {
    border: 2px solid #c0eb8f;
    border-radius: 10px;
    padding: 15px;
}

.account-image {
    padding-bottom: 5px;
}

.img {
    padding: 5px;
}