.profile svg {
  color: #eb8fcc;
}

.profile {
  padding-top: 50px;
  font-family: "Roboto";
}

.profile .list-group-item {
  border: none;
  background-color: #333333;
}

.profile .list-group-item.green-text {
  color: #c0eb8f;
}

.profile .form-control.green-text {
  color: #c0eb8f;
}

.user-specific-account {
  padding-top: 20px;
  padding-bottom: 20px;
}

.favorite-songs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.green-text {
  color: #c0eb8f;
}

.profile .list-group-item {
  background-color: #333333;
}

.account {
  border: 2px solid #c0eb8f;
  border-radius: 10px;
  padding: 15px;
}

.account-image {
  padding-bottom: 5px;
}

.img {
  padding: 5px;
}
