@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.song-title {
  font-family: "Roboto";
  padding-right: 10px;
  font-weight: 505;
  color: #c0eb8f;
  font-size: 2.4em;
}

.song-details-header {
  padding-top: 20px;
}

.song-year {
  font-family: "Roboto";
  font-size: 1.2em;
  padding-top: 20px;
  padding-left: 5px;
  color: #c0eb8f;
}

.artist-name {
  font-family: "Roboto";
  font-size: 1.2em;
  padding-top: 20px;
  padding-left: 10px;
  color: #c0eb8f;
}

.like-button {
  text-align: center;
  color: #c0eb8f;
}

.like-button .like-title {
  font-size: 1em;
  padding-top: 5px;
  font-family: "Roboto";
}

.like-heart {
  font-size: 1.9em;
  margin-left: 13px;
}

.like-heart-favorited {
  font-size: 1.9em;
  margin-left: 17px;
}

.rate-range {
  text-align: center;
}

.rate-range label {
  color: #c0eb8f;
  font-size: 0.9em;
}

.review {
  margin-left: 50px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid #c0eb8f;
  border-radius: 10px;
}

.leave-a-comment {
  color: #c0eb8f;
  margin-bottom: 5px;
}

.btn.submit-button {
  background-color: #c0eb8f;
}

.review .form-group {
  padding: 10px;
}

.details-under-song-title {
  color: #c0eb8f;
  padding-left: 50px;
  margin-top: 10px;
}

hr {
  margin-top: 0px;
}

.bottom-labels {
  margin-top: -10px;
  font-size: 0.85em;
  margin-bottom: 10px;
}

.ratings-title {
  color: #c0eb8f;
  font-size: 1.3em;
  padding-top: 10px;
}

.green-line {
 color: #c0eb8f;
}

input[type="range"].disabled.range-thumb {
  color: #c0eb8f;
}

ul li {
  /* margin-left: -10px; */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 50px;
}